@import url("file:///home/alex/.cache/dotfiles/colors-waybar.css");

:root {
  --size-radius: 0px;
  --size-margin: 2px 0px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

* {
    all: unset;
    font-family: JetBrainsMonoNL Nerd Font;
    font-size: 14px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    all: unset;
    padding: 0x;
    border: 2px solid @primary-dark;
    border-radius: 8px;
    background-color: alpha(@background, 0.75);
    animation: slideIn 0.2s ease-out;
}

#inner-box {
    margin: 0px;
    padding: 4px;
    border: none;
}

#outer-box {
    border: none;
}

#scroll {
    margin: 0px;
    padding: 16px;
    border: none;
}

#input {
    all: unset;
    margin: 16px;
    padding: 16px;
    border: none;
    outline: none;
    color: @primary;
    box-shadow: 0px 0px 2px 2px alpha(@primary-container, 0.5);
    border-radius: var(--size-radius);
    background-color: alpha(@primary, 0.2);
    transition: all 0.2s ease;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: var(--size-radius);
    box-shadow: 0px 0px 2px 2px alpha(@primary, 0.8);
    background-color: alpha(@primary-container, 0.4);
}

#input image {
    border: none;
    color: @error;
    padding: 8px;
}

#input * {
    border: none;
    outline: none;
}

#text {
    margin: 4px;
    border: none;
    color: @primary;
    outline: none;
}

#entry {
    margin: var(--size-margin);
    padding: 8px;
    border-radius: var(--size-radius);
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

#entry arrow {
    margin: var(--size-margin);
    border: none;
    color: @primary-hue40;
}

#entry:selected {
    margin: var(--size-margin);
    box-shadow: 2px 2px 8px alpha(@primary, 0.1);
    border: 1px solid alpha(@primary, 0.4);
    border-radius: var(--size-radius);
    background-color: alpha(@primary, 0.2);
}

#entry:selected #text {
    color: @primary-hue40;
}

#entry:hover {
    background-color: alpha(@primary, 0.1);
    box-shadow: 2px 2px 8px alpha(@primary, 0.1);
}

#entry:drop(active) {
    background-color: @primary-hue40;
}

